PORT=3000
FRONTEND_URL="http://127.0.0.1:5173"
SQLITE_PATH="./data/lubricentro.sqlite"
SITE_NAME="Lubricentro Meza"
SITE_TAGLINE="Mantenimiento de nivel 2 con estándar de marca"
SITE_PHONE="+56 9 8765 4321"
SITE_WHATSAPP="56987654321"
SITE_EMAIL="contacto@lubricentromeza.cl"
SITE_ADDRESS="Av. Pajaritos 3450, Maipú"
SITE_CITY="Santiago"
SITE_REGION="Región Metropolitana"
SITE_MAPS_QUERY="Av. Pajaritos 3450, Maipú, Santiago, Chile"
SITE_INSTAGRAM="https://instagram.com/lubricentromeza"
SITE_FACEBOOK="https://facebook.com/lubricentromeza"
